body {
    background-color: rgb(243,237,211);
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(17, 63, 89);
}

h1, h2, h3 {
    font-style: 700;
}

.title-style h4 {
    font-style: 400;
} 

.title-style {
    color: rgb(213,79,88);
}

a {
    color: rgb(17,63,89);
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(32,214,199);
}

.text-undecorated {
    text-decoration: none;
}

p {
    font-size: 9pt;
}


/*//////////////////HEADER//////////////////*/
.menu-color {
    background-color: rgb(17,63,89);
}

#menu {
    float: left;
    width: 9%;
    height: 100vh;
    position: fixed;
}

.fa-ul {
    list-style-type: circle;
}

.fa-ul > li {
    top: 40px;
    left: 55px;
    width: 5px;
    height: 50px;
}


/*//////////////////DIV CONTAINER//////////////////*/
#container {
    float: right;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.div-box {
    background-color: rgb(255,255,255);
    box-shadow: 2px 2px 2px rgb(148,144,128);
    padding: 25px;
    margin: 20px;
}

.border-rounded {
    border-radius: 6px;
}

.list-unlisted {
    list-style: none;
    padding-left: 0;
}

.list-inline > li {
    width: 95px;
}

.block-line {
    display: inline-block;
}

#img-txt-line > li {
    display: inline-block;
    width: 50%;
    text-align: justify;
    padding: 0% 8%;
}

.block-line > li {
    display: inline-block;
}


.img-circle {
    border-radius: 200px;
}


.icon-color {
    color: rgb(243,237,211);
}

.img-resize {
    width: 15%;
    height: auto;
    padding-left: 15%;
    vertical-align: middle;
    margin: 2% 0%;
}