body {
    background-color: rgb(243,237,211);
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(17, 63, 89);
}

h1, h2 {
    font-style: 700;
    color: rgb(213,79,88);
}

a {
    color: rgb(17,63,89);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(32,214,199);
    text-decoration: none;
}


/*///////////////DIV//////////////////*/
#container {
    width: 600px;
    margin: 0 auto;
}

.card {
    background-color: rgb(255,255,255);
    text-align: center;
}

#bio {
    margin: 25 0;
}

ul {
    list-style: none;
    padding: 0;
}